.vs/EBoekhoudenAPI/v15/Server/sqlite3/db.lock
.vs/EBoekhoudenAPI/v15/Server/sqlite3/storage.ide-shm
.vs/EBoekhoudenAPI/v15/Server/sqlite3/storage.ide-wal
.vs/EBoekhoudenAPI/v15/Server/sqlite3/storage.ide
EBoekhoudenAPI/bin/
EBoekhoudenAPI/obj/
EBoekhoudenAPI/Config.cs
