<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="soapAppSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://soap.e-boekhouden.nl/soap.asmx" binding="basicHttpBinding"
                bindingConfiguration="soapAppSoap" contract="EbApi.soapAppSoap"
                name="soapAppSoap" />
        </client>
    </system.serviceModel>
</configuration>
